<!-- <!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./official-details.component.scss">
    </head>
    <body>
        <div class="bx-main">
            <h2>Official Details</h2>
            <table>
              <thead>
                <tr>
                  <th>Employee ID</th>
                  <th>Department</th>
                  <th>Position</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let official of officialDetails">
                  <td>{{ official.employeeId }}</td>
                  <td>{{ official.department }}</td>
                  <td>{{ official.position }}</td>
                </tr>
              </tbody>
            </table>
          </div>
    </body>

</html> -->
