body {
    text-align: center;
   
}
.bx-main{
    padding: 20px;
    background-color: aliceblue;
}

input {
    height: 30px;
}

.form-group {
    padding: 20px;
}
button {
    width: 100px;
    height: 25px;
    cursor: pointer;
}
button:hover {
    background-color: lightblue;
}
