<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="./personal-details.component.scss">

    </head>
    <body>
        <div class="bx-main" >
            <h2>Personal Details</h2>
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Address</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let person of personalDetails">
                  <td>{{ person.name }}</td>
                  <td>{{ person.age }}</td>
                  <td>{{ person.address }}</td>
                </tr>
              </tbody>
            </table>
          </div>
    </body>
</html> -->
